<ion-content>
  <img [src]="animal.bgURL">
  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide>
      <animal-album class="content" [data]="animal.intro"></animal-album>
    </ion-slide>
    <ion-slide>
      <animal-keypoint class="content" [data]="animal.feather"></animal-keypoint>
    </ion-slide>
    <ion-slide>
      <animal-map class="content" [data]="animal.habitat"></animal-map>
    </ion-slide>
    <ion-slide>
      <animal-game class="content" [data]="animal.habits"></animal-game>
    </ion-slide>
    <ion-slide>
      <animal-timeline class="content" [data]="animal.protection"></animal-timeline>
    </ion-slide>
  </ion-slides>
  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button (click)="onMusic()">
      <ion-icon name="volume-high"></ion-icon>
    </ion-fab-button>
    <ion-fab-button (click)="onHome()">
      <ion-icon name="home"></ion-icon>
    </ion-fab-button>
    <ion-fab-button (click)="onMenu()">
      <ion-icon name="menu"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>