<ion-content>
  <img #bg *ngIf="animal" class="bg" [src]="animal.bgURL" />
  <ion-slides
    *ngIf="animal" id="animal-slides"
    #slides
    [options]="slideOpts"
    pager="false" scrollbar="true"
    (ionSlideDidChange)="slidesDidChangeHandler($event)"
    (touchdown)="lockSlide($event)"
    (touchup)="unlockSlide($event)"
  >
    <ion-slide *ngIf="animal.intro">
      <animal-album class="content" [data]="animal.intro"></animal-album>
    </ion-slide>
    <ion-slide *ngIf="animal.feather">
      <animal-keypoint
        class="content"
        [data]="animal.feather"
      ></animal-keypoint>
    </ion-slide>
    <ion-slide *ngIf="animal.habitat">
      <animal-map class="content" [data]="animal.habitat"></animal-map>
    </ion-slide>
    <ion-slide [hidden]="!animal.habits">
      <ng-template game-host></ng-template>
    </ion-slide>
    <ion-slide *ngIf="animal.culture">
      <animal-culture class="content" [data]="animal.culture"></animal-culture>
    </ion-slide>
    <ion-slide *ngIf="animal.protection">
      <animal-timeline
        class="content"
        [data]="animal.protection"
      ></animal-timeline>
    </ion-slide>
  </ion-slides>

  <ion-button
    class="image-button left"
    expand="full"
    fill="clear"
    (click)="slides.slidePrev()"
    *ngIf="prevButtonEnabled"
  >
    <img src="assets/images/button/prevScreen.png" />
  </ion-button>
  <ion-button
    class="image-button right"
    expand="full"
    fill="clear"
    (click)="slides.slideNext()"
    *ngIf="nextButtonEnabled"
  >
    <img src="assets/images/button/nextScreen.png" />
  </ion-button>

  <div class="top-right">
    <app-bgmusic></app-bgmusic>
    <ion-button
      class="image-button"
      expand="full"
      fill="clear"
      (click)="onHome()"
    >
      <img src="assets/images/button/home.png" />
    </ion-button>
    <ion-button
      class="image-button"
      expand="full"
      fill="clear"
      (click)="onMenu()"
    >
      <img src="assets/images/button/menu.png" />
    </ion-button>
  </div>
</ion-content>
