.container {
  margin: auto;
  position: relative;
}
.image-container {
  position: absolute;
  top: 50px;
  left: 48px;
  right: 48px;
  bottom: 52px;
}
video {
  width: 100%;
  height: 100%;
}
video::-webkit-media-controls-fullscreen-button {
  display: none;
}
//右上角导航按钮
.close-button {
  position: absolute;
  top: 0px;
  right: 0px;
}
