<ion-header>
    <ion-toolbar>
      <img class="menu-title" src="assets/images/menuTitle.png">
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-menu-toggle auto-hide="false" *ngFor="let animal of animals">
        <ion-item [routerLink]="['/animal', animal.dataURL]">
          <ion-thumbnail class="animal-icon"><img [src]="animal.imageURL"/></ion-thumbnail>
          <div class="animal-name-container">
            <ion-label class="animal-name">
              {{ animal.name }}
            </ion-label>
            <ion-label class="animal-name2" *ngIf="animal.name2">
              {{ animal.name2 }}
            </ion-label>
          </div>
        </ion-item>
      </ion-menu-toggle>
    </ion-list>
  </ion-content>
