<ion-content>
  <img class="menu-title" src="assets/images/menuTitle.png" />
  <ion-list>
    <ion-menu-toggle auto-hide="false" *ngFor="let animal of animals">
      <ion-item (click)="gotoAnimal(animal)">
        <ion-thumbnail class="animal-icon">
          <img [src]="animal.imageURL"/>
        </ion-thumbnail>
        <div class="animal-name-container" [ngClass]="{currentItem:animal.name===currentAnimalName}">
          <ion-label class="animal-name">
            {{ animal.name }}
          </ion-label>
          <ion-label class="animal-name2" *ngIf="animal.name2">
            {{ animal.name2 }}
          </ion-label>
        </div>
      </ion-item>
    </ion-menu-toggle>
  </ion-list>
</ion-content>
