.menu-title{
    // position: absolute;
    margin-left: 80px;
    // margin-right: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}
ion-content{
    background-image: url('../../assets/images/bg.jpg');
}
ion-list{
    margin: 0;
}
ion-item{
    display:flex;
    flex-direction:row;
    align-items:center;
    // --background-color:transparent;
}
.animal-icon{
    margin: 4px;
}
.animal-name-container{
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    margin:4px;
}
.animal-name{
    font-size:20px;
}
.animal-name2{
    font-size:14px;
    margin: 0;
}

.currentItem{
    color: red;;
}
.otherItem{
    color: red;;
}