.container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
}

.info-container{
    display: flex;
    flex-direction:column;
    max-width: 30%;
    align-items: flex-start;
    
    background-image: url('/assets/images/bg.jpg');
    padding: 20px;
    border-style: solid;
    border-color: rgb(176, 176, 176);
    border-width: medium;
}
.feather-image{
    width: 100%;
}
.feather-title {
    text-align: justify;
    width: 100%;
}
.feather-text {
    text-align: justify;
    width: 100%;
}

.animal-image{
    padding: 50px;
}
.point-container{
    position: relative;
}

.point{
    position: absolute;
}