.info-container{
    display: flex;
    flex-direction:column;
    max-width: 30%;
    align-items: flex-start;
    position: absolute;
    left: 10%;
    top: 20%;
}
p {
    text-align: justify;
}
.point-container{
    position: absolute;
    left: 0;
    right:0;
    top:0;
    bottom: 0;
}
.point{
    position: absolute;
}