.container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
}

.info-container{
    display: flex;
    flex-direction:column;
    max-width: 30%;
    align-items: flex-start;
}
p {
    text-align: justify;
    width: 100%;
}
.point-container{
    position: relative;
}
.feather-image{
    padding: 50px;
}
.point{
    position: absolute;
}