<div class="container">
  <div *ngIf="data" class="info-container">
    <img class="feather-image" [src]="data.feathers[index].imageURL" />
    <h1 class="feather-title">{{ data.feathers[index].title }}</h1>
    <p class="feather-text">{{ data.feathers[index].text }}</p>
  </div>

  <div *ngIf="data" class="point-container">
    <img class="animal-image" [src]="data.imageURL" />
    <ion-button
      class="point"
      expand="full"
      fill="clear"
      *ngFor="let item of data.feathers; let i = index"
      (click)="onShow(i)"
      [ngStyle]="item.position"
    >
      <img src="assets/images/button/featherPoint.gif" />
    </ion-button>
  </div>
</div>
