<div class="container">
  
  <div #featherInfo hidden class="feather-container">
    <img *ngIf="index>=0" class="feather-image" [src]="data.feathers[index].imageURL" />
    <h1 *ngIf="index>=0" class="feather-title">{{ data.feathers[index].title }}</h1>
    <p *ngIf="index>=0" class="feather-text" [ngClass]="{'text-cn': animalsDataService.language == 'cn'}">{{ data.feathers[index].text }}</p>
  </div>

  <div #featherAnimal *ngIf="data" class="point-container">
    <img class="animal-image" [src]="data.imageURL" />
    <ion-button
      class="image-button point"
      expand="full"
      fill="clear"
      *ngFor="let item of data.feathers; let i = index"
      (click)="onShow(i)"
      [ngStyle]="item.position"
    >
      <img src="assets/images/button/featherPoint.gif" />
    </ion-button>
  </div>

</div>
