<div class="bg">
  <div class="left">
    <div *ngIf="data" class="info-container">
      <h1 class="animal-name">{{ data.name }}</h1>
      <p class="animal-aliasName">{{ data.aliasName }}</p>
      <p class="animal-scientificName">{{ data.scientificName }}</p>
      <p class="animal-intro">{{ data.intro }}</p>
    </div>
    <div class="media-container">
      <div *ngIf="data" class="album-container">
        <ion-thumbnail
          *ngFor="let item of data.album"
          (click)="showPhoto(item)"
        >
          <img [src]="item.thumbURL" />
        </ion-thumbnail>
      </div>
      <ion-thumbnail class="video-thumb" *ngIf="data && data.video" (click)="showVideo(data.video)">
        <img [src]="data.video.thumbURL" />
        <img class="video-icon" src="assets/images/videoIcon.png" />
      </ion-thumbnail>
    </div>
  </div>
  <img class="right" *ngIf="data" [src]="data.imageURL" />
</div>
