<div class="bg">
  <div class="left">
    <div *ngIf="data" class="info-container">
      <ion-text class="animal-name"  [innerHTML]="data.name"></ion-text>
      <ion-text class="animal-aliasName"  [innerHTML]="data.aliasName"></ion-text>
      <ion-text class="animal-scientificName"  [innerHTML]="data.scientificName"></ion-text>
      <ion-text class="animal-intro"  [innerHTML]="data.intro"></ion-text>
    </div>
    <div class="media-container">
      <div *ngIf="data" class="album-container">
        <ion-thumbnail class="image-button"
          *ngFor="let item of data.album"
          (click)="showPhoto(item)"
        >
          <img [src]="item.thumbURL" />
        </ion-thumbnail>
      </div>
      <ion-thumbnail class="video-thumb image-button" *ngIf="data && data.video" (click)="showVideo(data.video)">
        <img [src]="data.video.thumbURL" />
        <img class="video-icon" src="assets/images/videoIcon.png" />
      </ion-thumbnail>
    </div>
  </div>
  <img class="right" *ngIf="data" [src]="data.imageURL" />
</div>
