.container {
  margin: auto;
  width: 75%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.map-panel {
  position: relative;
}
#map {
  position: absolute;
  top: 26px;
  left: 24px;
  right: 24px;
  bottom: 32px;
}
.map-text {
  text-align: justify;
  max-width: 80%;
  margin-bottom: 50px;
}
.map-popup{
  width: 400px;
  height: 300px;
  max-width: 400px;
  max-height: 300px;
}
