.container {
  margin: auto;
  width: 75%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.map-panel {
  position: relative;
  border:26px solid transparent; //盒子边框宽度为27px
  border-image-source:url("/assets/images/mapPanel.png");
  border-image-slice:26; //边框图片向设置为27px，那么背景图将会从盒子最外边界向外上右下左各延伸27px。
  width: 100%;
  height: 70%;
}
#map {
  position: absolute;
  width: 100%;
  height: 100%;
}
.map-text {
  text-align: justify;
  max-width: 80%;
  margin-bottom: 50px;
}
.map-popup{
  width: 400px;
  height: 300px;
  max-width: 400px;
  max-height: 300px;
}