.container {
  margin: auto;
  width: 75%;
  max-width: 1024px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.map-panel {
  position: relative;
  border: 26px solid transparent; //盒子边框宽度为27px
  border-image-source: url("../../../assets/images/mapPanel.png");
  border-image-slice: 26; //边框图片向设置为27px，那么背景图将会从盒子最外边界向外上右下左各延伸27px。
  width: 100%;
  height: 70%;
}
ion-slides {
  width: 100%;
  height: 100%;
  ion-slide {
    width: 100%;
    height: 100%;
    background-color: rgba($color: #000000, $alpha: 0.3);
  }
}
.habitat-image{
  width: 100%;
  height: 100%;
}
.map-icon{
  position:absolute;
  right: 10px;
  bottom: 10px;
}
.map  {
  width: 100%;
  height: 100%;
}
.map-text {
  text-align: justify;
  max-width: 85%;
  max-height: 15%;
  margin-bottom: 3%;
  overflow-y: scroll;
}
