<div *ngIf="data">
    <div id='phaser-div'></div>
    <ion-text class="intro-text" *ngIf="data.intro">{{data.intro}}</ion-text>
    <ion-card class="start-game-dialog" *ngIf="data.startDialog&&!gameStarted" [hidden]="gameStarted">
        <ion-card-content>{{data.startDialog.text}}</ion-card-content>
        <ion-button class="image-button" expand="full" fill="clear" (click)="startGame()">
            <img src="assets/images/button/startGame.png" />
        </ion-button>
    </ion-card>
    <!-- <div *ngIf="data.game" class="game5-weight-options">
        <ion-button class="image-button" expand="full" fill="clear" (click)="startGame()">
            <img src="assets/images/button/prevWeight.png" />
        </ion-button>
        <div>
            <ion-slides>
                <ion-slide *ngFor="let item of data.game.options">
                    <img [src]="item.imageURL"/>
                </ion-slide>
            </ion-slides>
            <img src="assets/images/weightFrame.png"/>
        </div>
        <ion-button class="image-button" expand="full" fill="clear" (click)="startGame()">
            <img src="assets/images/button/nextWeight.png" />
        </ion-button>
    </div> -->
</div>