/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@font-face {
  font-family: "NotoSerif";
  font-style: normal;
  font-weight: bold;
  src: url("./assets/fonts/NotoSerifCJKsc-Bold.otf");
}
:root {
  --ion-font-family: "NotoSerif";
}
//自定义滚动条
::-webkit-scrollbar {
  width: 2px;
  height: 4px;
}
::-webkit-scrollbar-button {
  width: 2px;
  height: 0;
}
::-webkit-scrollbar-track {
  background: 0 0;
}
::-webkit-scrollbar-thumb {
  // background: #61a8df;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
::-webkit-scrollbar-thumb:hover {
  // background-color: #37dace;
}
::-webkit-scrollbar-thumb:active {
  // background-color: #17bbaf;
}
//在electron里面禁用拖拽图片和选中文字
*, *::after, *::before {
  -webkit-user-select: none;
  -webkit-user-drag: none;
  // -webkit-app-region: no-drag;
  // cursor: default;
}
//用于继承的样式
@import "app/common.scss";
