<div *ngIf="data" class="game-area">
  <!-- 游戏结束画面 -->
  <!-- <div
    [hidden]="gameState != 'gameCompleted'"
    class="game-complete"
    (dblclick)="resetGame()"
  >
    <img class="game-complete-image" [src]="data.gameCompleteImageURL" />
    <ion-text>{{ data.gameCompleteTips }}</ion-text>
  </div> -->
  <!-- 开始对话框 -->
  <div
    class="start-game-dialog"
    *ngIf="data.startDialog"
    [hidden]="gameState != 'gameReady'"
  >
    <ion-text
      class="game-intro"
      *ngIf="data.startDialog.intro"
      [innerHTML]="data.startDialog.intro"
    ></ion-text>
    <ion-text
      class="game-guide"
      *ngIf="data.startDialog.guide"
      [innerHTML]="data.startDialog.guide"
    ></ion-text>
    <ion-button
      class="image-button"
      expand="full"
      fill="clear"
      (click)="startGameHandler()"
    >
      <img *ngIf="lang == 'cn'" src="assets/images/button/startGame_cn.png" />
      <img *ngIf="lang == 'en'" src="assets/images/button/startGame_en.png" />
    </ion-button>
  </div>
  <!-- 游戏7 -->
  <div
    class="game-content"
    *ngIf="data.gameContents"
    [hidden]="gameState != 'gamePlaying'"
  >
    <div class="items">
      <game7-card
        #card
        class="card"
        *ngFor="let item of this.data.gameContents.items; let i = index"
        (click)="selectItem($event, item, i)"
        [data]="item"
      >
      </game7-card>
      <ion-text class="countdown-number">{{ countDownNumber }}</ion-text>
    </div>
  </div>
</div>
