.bg{
    background-image: url('/assets/images/bg.jpg');
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
}
.left{
    display: flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}
.top-right{
    position:absolute;
    right:20px;
    top:20px;
    display: flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
}
.title {
    margin-bottom: 30px;
}
.language-button{
    margin: 10px;
    height: 74px;
    padding: 0px;
}
.nav-button{
    margin-left: -10px;
    margin-right: -10px;
    height: 52px;
}
#phaser-div{
    width: 650px;
    height: 768px;
}
ion-slide{
    display: flex;
    justify-content:center;
    align-items: center;
    filter:drop-shadow(5px 5px 10px black)
}
.slide-bg{
    position: absolute;
}
.slide-content{
    position: absolute;
}

  