<!-- <ion-content> -->
  <div class="bg">
    <div class="left">
      <img class="title" src="assets/images/homeTitle.png" />
      <ion-button class="image-button" expand="full" fill="clear" (click)="loadLanguageData('cn')">
        <img src="assets/images/button/cn_a.png" />
      </ion-button>
      <ion-button class="image-button" expand="full" fill="clear" (click)="loadLanguageData('en')">
        <img src="assets/images/button/en_a.png" />
      </ion-button>
    </div>
    <div id='phaser-div-menu'></div>
  </div>
  <!-- 右上角按钮 -->
  <div class="top-right">
    <app-bgmusic></app-bgmusic>
    <ion-button class="image-button" expand="full" fill="clear"  (click)="download()">
      <img src="assets/images/button/download.png" />
    </ion-button>
    <ion-button class="image-button" expand="full" fill="clear">

      <img src="assets/images/button/copyright.png" (click)="info()"/>
    </ion-button>
  </div>
<!-- </ion-content> -->
