<ion-content>
  <div class="bg">
    <div class="left">
      <img class="title" src="assets/images/home_title.png" />
      <ion-button class="language-button" expand="full" fill="clear">
        <img src="assets/images/cn_a.png" />
      </ion-button>
      <ion-button class="language-button" expand="full" fill="clear">
        <img src="assets/images/en_a.png" />
      </ion-button>
    </div>
    <ion-slides pager="true" [options]="slideOpts">
      <ion-slide
        [routerLink]="['/animal', animal.dataURL]"
        *ngFor="let animal of this.animals"
      >
        <img class="slide-bg" src="assets/images/slide_bg.png" />
        <img class="slide-content" src="{{animal.imageURL}}" />
      </ion-slide>
    </ion-slides>
  </div>
  <div class="top-right">
    <ion-button class="nav-button" expand="full" fill="clear">
      <img src="assets/images/download.png" />
    </ion-button>
    <ion-button class="nav-button" expand="full" fill="clear">
      <img src="assets/images/copyright.png" />
    </ion-button>
  </div>
</ion-content>
