@import "../game.common.scss";
.game2-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.battle-field {
  position: relative;
}
.battle-bg {
  width: fit-content;
  height: fit-content;
}
.battle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 20px;
  top: 20px;
  right: 20px;
  bottom: 100px;
  mask-image: url("../../../../assets/images/game/2/battleMask.png");
}
.fire{
  position: absolute;
  left:50%;
  transform: translateX(-50%);
  bottom: 20px;
}
.fight-field {
  width: 80px;
  height: 520px;
  margin: 10px;
  position: relative;
}
.enemy {
  width: fit-content;
  height: fit-content;
  position: absolute;
  left:50%;
  transform: translateX(-50%);
}
.fight {
  width: fit-content;
  height: fit-content;
  position: absolute;
  left:50%;
  transform: translateX(-50%);
  bottom: 40px;
}
.soldier {
  width: fit-content;
  height: fit-content;
  position: absolute;
  left:50%;
  transform: translateX(-50%);
  bottom: 0px;
}
.game-win {
  width: fit-content;
  height: fit-content;
  position: absolute;
  left:50%;
  top:50%;
  transform: translate(-50%,-50%);
}
.game-lost {
  width: fit-content;
  height: fit-content;
  position: absolute;
  left:50%;
  top:50%;
  transform: translate(-50%,-50%);
}
/***************************************************/
.HQ {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 40px;
  width: fit-content;
  height: fit-content;
}
.question {
  width: fit-content;
  height: fit-content;
  margin-bottom: 60px;
}
.puzzle-container {
  position: relative;
  width: 328px;
  height: 280px;
  padding: 0;
}
.puzzle-bg {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.puzzle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
//选项
.puzzle-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: fit-content;
  div {
    position: relative;
    width: 100px;
    height: 216px;
    margin: 2px;
    ion-slides {
      position: absolute;
      width: 100%;
      height: 100%;
      ion-slide {
        img {
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          cursor: pointer !important;
        }
      }
    }
  }
}
ion-button {
  margin: 0px;
}
